{% extends 'base.html' %}

{% load static %}

{% block content %}
  <body class="overflow-x-hidden w-screen relative error-page">
    <div class="wrapper mx-auto text-gray-900 font-normal max-w-[1320px]"><a name="top"> </a>
      <div class="absolute top-0 left-0 w-screen h-full bg-opacity-80 hidden video-iframe bg-[#0b0b0b] z-[999999]">
        <div class="mx-auto video w-1/2">
          <div class="flex justify-end">
            <button class="text-white close-video text-[20px]" type="button" title="Close (Esc)">x</button>
          </div>
          <iframe class="aspect-video w-full" src="https://www.youtube.com/embed/oRI37cOPBQQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="overlay"></div>
      <div class="px-[12px] md:px-[36px] mt-[70px] xl:px-0 flex flex-col justify-center items-center text-center lg:mt-[161px]">
        <div class="max-w-[565px] mb-[50px]"> <img class="h-full w-full object-cover" src="{% static '/assets/images/404.png' %}" alt="404 image">
        </div>
        <h1 class="font-extrabold font-chivo text-[35px] leading-[44px] sm:text-[46px] sm:leading-[52px] md:text-heading-1 mb-7">Whoops! That page doesn’t exist.
        </h1>
        <h4 class="font-bold font-chivo text-[14px] xl:text-heading-5 text-gray-500 mb-[70px]">The page you requested could not be found
        </h4>
        <button type="button"> <a class="flex items-center inline-block z-10 relative transition-all duration-200 group px-[22px] py-[15px] lg:px-[32px] lg:py-[22px] rounded-[50px] bg-gray-900 text-white hover:bg-gray-100 hover:text-gray-900 hover:-translate-y-[2px] flex-row-reverse" href="{% url 'index' %}"><span class="block text-inherit w-full h-full rounded-[50px] text-lg font-chivo font-semibold">Back to Homepage</span><i> <img class="mr-4 rotate-180 filter-white w-[12px] group-hover:filter-black" src="{% static '/assets/images/icons/icon-right.svg' %}" alt="arrow right icon"></i></a></button>
      </div>
      <div class="bg fixed bottom-28 rounded-full grid place-items-center opacity-0 invisible transition-all duration-300 right-[20px] z-[9999] w-[48px] h-[48px]" id="backToTop"><a class="rounded-full bg-green-900 grid place-items-center w-[48px] h-[48px]" href="#top"><img src="{% static '/assets/images/icons/icon-up.svg' %}" alt="to top icon"></a></div>
    </div>
  </body>
</html>
{% endblock %}