{% extends 'base.html' %}

{% load static %}

{% block content %}
  <body class="overflow-x-hidden w-screen relative contact-page">
    <div class="wrapper mx-auto text-gray-900 font-normal max-w-[1320px]"><a name="top"> </a>
      <div class="overlay"></div>
      <div class="full-width bg-bg-2">
        <div class="text-center px-5 pt-[74px] pb-[90px]">
          <h2 class="font-bold font-chivo text-[28px] leading-[32px] md:text-heading-2 mb-[22px]">THANK YOU!
          </h2>
          <p class="text-text text-gray-500 mx-auto md:w-[49ch]">Equidem necessitatibus ei eam, ceteros expetenda hendrerit ei per, tation vituperatoribus ut.
          </p>
        </div>
      </div>
          </div>
        </div>
      </div>
  </body>
{% endblock %}
